<div class="middle_box">
    <div class="container">
        <h1>CogniGame</h1>
        <p>Be a fast finger!</p>
        <p>Use your <b>keyboard</b> and type the first letter of the word that appears, the faster you play, more points you get!</p>
        <div class="middle">
            <img src="../../assets/keyboard.png" alt="keyboard" title="keyboard" />
        </div>
        <div class="alert">YOU ONLY HAVE <b>3 LIFES</b>!</div>
        
        <ul class="buttons">
            <li><a class="play" href="/game" role="button">PLAY!</a></li>
            <li><a class="results" href="/result" role="button">RESULTS</a></li>
        </ul>
    </div>
</div>